services:
  sabnzbd:
    image: lscr.io/linuxserver/sabnzbd:latest
    container_name: sabnzbd
    ports:
      - "9576:8080"
    environment:
      - PUID=1000
      - PGID=1000
      - UMASK=002
      - TZ=Etc/UTC
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /home/roman/docker/sabnzbd/config:/config
      - /home/roman/docker/shared/mediaserver/usenet:/mediaserver/usenet
    restart: unless-stopped

  prowlarr:
    image: ghcr.io/hotio/prowlarr:latest
    container_name: prowlarr
    ports:
      - "9696:9696"
    environment:
      - PUID=1000
      - PGID=1000
      - UMASK=002
      - TZ=Etc/UTC
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /home/roman/docker/prowlarr/config:/config
    restart: unless-stopped

  sonarr:
    image: ghcr.io/hotio/sonarr:latest
    container_name: sonarr
    ports:
      - "8989:8989"
    environment:
      - PUID=1000
      - PGID=1000
      - UMASK=002
      - TZ=Etc/UTC
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /home/roman/docker/sonarr/config:/config
      - /home/roman/docker/shared/mediaserver:/mediaserver
    restart: unless-stopped

  radarr:
    image: ghcr.io/hotio/radarr:latest
    container_name: radarr
    ports:
      - "7878:7878"
    environment:
      - PUID=1000
      - PGID=1000
      - UMASK=002
      - TZ=Etc/UTC
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /home/roman/docker/radarr/config:/config
      - /home/roman/docker/shared/mediaserver:/mediaserver
    restart: unless-stopped

  recyclarr:
    image: ghcr.io/recyclarr/recyclarr
    container_name: recyclarr
    user: 1000:1000
    read_only: true
    tmpfs: /tmp
    volumes:
      - /home/roman/docker/recyclarr/config:/config
    environment:
      - TZ=Etc/UTC
      - RECYCLARR_CREATE_CONFIG=true
      - CRON_SCHEDULE=@daily
    restart: unless-stopped

  jellyseerr:
    image: ghcr.io/hotio/jellyseerr:latest
    container_name: jellyseerr
    ports:
      - "5055:5055"
    environment:
      - PUID=1000
      - PGID=1000
      - UMASK=002
      - TZ=Etc/UTC
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /home/roman/docker/jellyseerr/config:/config
    restart: unless-stopped

  jellyfin:
    image: jellyfin/jellyfin
    container_name: jellyfin
    hostname: jellyfin
    user: 1000:1000
    ports:
      - 8096:8096
      - 8920:8920 #optional
      - 7359:7359/udp #optional
      - 1900:1900/udp #optional
    user: 1000:1000
    # Optional - alternative address used for autodiscovery
    environment:
      - PUID=1000
      - PGID=1000
      - UMASK=002
      - TZ=Etc/UTC
      - JELLYFIN_PublishedServerUrl=192.168.88.88
    volumes:
      - /home/roman/docker/jellyfin/config:/config
      - /home/roman/docker/jellyfin/cache:/cache
      - /home/roman/docker/shared/mediaserver/media/movies:/mediaserver/media/movies
      - /home/roman/docker/shared/mediaserver/media/tv:/mediaserver/media/tv
        # Optional - may be necessary for docker healthcheck to pass if running in host network mode
    extra_hosts:
      - "host.docker.internal:host-gateway"
    restart: unless-stopped



# mkdir -p /home/roman/docker/shared/mediaserver/usenet/{incomplete,complete/{movies,tv}} /home/roman/docker/shared/mediaserver/media/{movies,tv}