services:
    renovate:
        image: docker.io/renovate/renovate:37.431-slim@sha256:76344999e243847cf1c9cd7c2912c1baef3d7044f0dff00d03b561072a94005b
        volumes:
            - /config.js:/usr/src/app/config.js