services:
    renovate:
        image: docker.io/renovate/renovate:37.431.3-slim@sha256:822d56f68f9de99ef642bd4cfff3b0d181ed996f8305dde41ee18b6430e72819
        volumes:
            - /config.js:/usr/src/app/config.js