[Unit]
Description=mini ci service
ConditionPathExists=/opt/mini-ci
After=network.target
 
[Service]
Type=simple
User=root
Group=root

Restart=on-failure
RestartSec=10
startLimitIntervalSec=60

WorkingDirectory=/opt/mini-ci
ExecStart=cargo run /opt/mini-ci
 
[Install]
WantedBy=multi-user.target

