services:
    tailscale:
        image: tailscale/tailscale:v1.66.3@sha256:822bb08d50d803e583ed5e7346bc979f2c2347b3fb0aa87729ae6ec5d97dbe71
        hostname: server
        container_name: tailscale
        volumes:
            - tailscale-data:/var/lib/tailscale
            - /dev/net/tun:/dev/net/tun
        network_mode: host
        cap_add:
            - net_admin
            - net_raw
            - sys_module
        restart: unless-stopped
        environment:
            - TS_STATE_DIR=/var/lib/tailscale
            - TS_AUTHKEY={{ tailscale__docker_setup__auth_key }}
            - TS_HOSTNAME=server
            - TS_USERSPACE=false
            - TS_EXTRA_ARGS={{ tailscale__docker_setup__extra_args }}

volumes:
  tailscale-data:
    driver: local