import {{ caddy__docker_setup__sub_configs_dir_name }}/*

# {
#  email {{ caddy__docker_setup__email }}
#  acme_ca {{ caddy__docker_setup__acme_ca_url }}
#  acme_dns hetzner {{ caddy__docker_setup__acme_dns_hetzner_api_token }}
# }
