services:
  caddy:
    container_name: caddy
    build:
      context: .
    restart: unless-stopped
    cap_add:
      - NET_ADMIN
    ports:
      - target: 80
        published: "80"
        host_ip: {{ caddy__docker_setup__ports_host_ip }}
        protocol: tcp
      - target: 443
        published: "443"
        host_ip: {{ caddy__docker_setup__ports_host_ip }}
        protocol: tcp
      - target: 443
        published: "443"
        host_ip: {{ caddy__docker_setup__ports_host_ip }}
        protocol: udp
    volumes:
      - type: bind
        source: "{{ caddy__docker_setup__dir_path }}"
        target: /etc/caddy/
      - type: volume
        source: caddy_data
        target: "/data"
      - type: volume
        source: caddy_config
        target: "/config"
    networks:
        {{ caddy__docker_setup__external_network_name }}:
          ipv4_address: "172.168.10.2"
    labels:
      - docker-volume-backup.stop-during-backup=true

  backup:
    container_name: caddy-data-backup
    image: offen/docker-volume-backup:v2.38.1
    restart: always
    environment:
      BACKUP_FILENAME: backup-caddy-data-%Y-%m-%dT%H-%M-%S.tar.gz
      BACKUP_LATEST_SYMLINK: backup-latest.tar.gz
    volumes:
      - caddy_data:/backup/my-app-backup:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - {{ caddy__docker_setup__data_backup_dir_path }}:/archive
    networks:
        {{ caddy__docker_setup__external_network_name }}:
          ipv4_address: "172.168.10.3"

networks:
  {{ caddy__docker_setup__external_network_name }}:
    external: true
  default:
    external: true
    name: none

volumes:
  caddy_data:
  caddy_config: